/*Banderas en pag países*/

.banderaEspaña {
    width: 200px;
    height: 200px;
    padding: 25px;
    border: 4px inset grey;
  }
  
  .banderaSuecia {
    width: 200px;
    height: 200px;
    padding: 25px;
    border: 4px inset grey;
  }
  
  .banderaNuevazelanda {
    width: 200px;
    height: 200px;
    padding: 25px;
    border: 4px inset grey;
  }
  
  .banderaFrancia {
    width: 200px;
    height: 200px;
    padding: 25px;
    border: 4px inset grey;
  }
  
  .banderaAustralia {
    width: 200px;
    height: 200px;
    padding: 25px;
    border: 4px inset grey;
  }
  
  .banderaDinamarca {
    width: 200px;
    height: 200px;
    padding: 25px;
    border: 4px inset grey;
  }