
.bocaJuniors {
    margin: 0px;
    background-color: bisque;
  }

  .videoYoutube {
    text-align: center;
    border: 2px solid bisque;
    margin: 0px;
  }

  .mapaPrincipal {
    margin-left: 50px;
    margin-right: 50px;
  }

