/*Listado de paises */

.listadoPaises {
    background-color: bisque;
    text-align: center;
  }

  
.paisUno {
    background: linear-gradient(to left, bisque, cadetblue);
    display: inline-block;
    width: 500px;
    height: 500px;
    border: 5px inset black;
    margin-bottom: 15px;
    transition: all 2s;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: large;
  }
  
  .paisDos {
    background: linear-gradient(to left, bisque, cadetblue);
    display: inline-block;
    width: 500px;
    height: 500px;
    border: 5px inset black;
    margin-bottom: 15px;
    transition: all 2s;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: large;
  }
  
  .paisTres {
    background: linear-gradient(to left, bisque, cadetblue);
    display: inline-block;
    width: 500px;
    height: 500px;
    border: 5px inset black;
    margin-bottom: 15px;
    transition: all 2s;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: large;
  }
  
  .paisCuatro {
    background: linear-gradient(to left, bisque, cadetblue);
    display: inline-block;
    width: 500px;
    height: 500px;
    border: 5px inset black;
    margin-bottom: 15px;
    transition: all 2s;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: large;
  }
  
  .paisCinco {
    background: linear-gradient(to left, bisque, cadetblue);
    display: inline-block;
    width: 500px;
    height: 500px;
    border: 5px inset black;
    margin-bottom: 15px;
    transition: all 2s;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: large;
  }
  
  .paisSeis {
    background: linear-gradient(to left, bisque, cadetblue);
    display: inline-block;
    width: 500px;
    height: 500px;
    border: 5px inset black;
    margin-bottom: 15px;
    transition: all 2s;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: large;
  }
  
  
  
  /*hoover etiquetas paises */
  .paisSeis:hover {
    background: linear-gradient(to left, cadetblue, bisque);
    width: 500px;
    height: 500px;
  }
  
  .paisCinco:hover {
    background: linear-gradient(to left, cadetblue, bisque);
    width: 500px;
    height: 500px;
  }
  
  .paisCuatro:hover {
    background: linear-gradient(to left, cadetblue, bisque);
    width: 500px;
    height: 500px;
  }
  
  .paisTres:hover {
    background: linear-gradient(to left, cadetblue, bisque);
    width: 500px;
    height: 500px;
  }
  
  .paisDos:hover {
    background: linear-gradient(to left, cadetblue, bisque);
    width: 500px;
    height: 500px;
  }
  
  .paisUno:hover {
    background: linear-gradient(to left, cadetblue, bisque);
    width: 500px;
    height: 500px;
  }