/*estilo a Testimonios*/

.testimonios {

  display: block;
  justify-content: center;
  margin: 20px;
  padding: 30%;
  padding-top: 0;
  padding-bottom: 0;
  
}

.textoLucas {
  font-size: large;
  padding: 15px;
  }
  
  .textoRebord {
    font-size: large;
    padding: 15px;
  }
  
  .textoJaz {
    font-size: large;
    padding: 15px;
  }
  
  .textoMeli {
    font-size: large;
    padding: 15px;
  }
  
  .textoGerman {
    font-size: large;
    padding: 15px;
  }
  
  .textoRoman {
    font-size: large;
    padding: 15px;
  }
  
.testimonioUno {
    background: linear-gradient(to left, bisque, cadetblue);
    display: inline-block;
    width: 600px;
    height: 600px;
    border: 5px inset black;
    margin-bottom: 15px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .testimonioDos {
    background: linear-gradient(to left, bisque, cadetblue);
    width: 600px;
    height: 600px;
    border: 5px inset black;
    margin-bottom: 15px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .testimonioTres {
    background: linear-gradient(to left, bisque, cadetblue);
    width: 600px;
    height: 600px;
    border: 5px inset black;
    margin-bottom: 15px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .testimonioCuatro {
    background: linear-gradient(to left, bisque, cadetblue);
    width: 600px;
    height: 600px;
    border: 5px inset black;
    margin-bottom: 15px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .testimonioCinco {
    background: linear-gradient(to left, bisque, cadetblue);
    width: 600px;
    height: 600px;
    border: 5px inset black;
    margin-bottom: 15px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .testimonioSeis {
    background: linear-gradient(to left, bisque, cadetblue);
    width: 600px;
    height: 600px;
    border: 5px inset black;
    margin-bottom: 15px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  
  .paginaTestimonios {
    background-color: bisque;
  }
  
  .fotoRebord {
    width: 200px;
    height: 200px;
  }
  
  .fotoLucas {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
  }
  
  .fotoGerman {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
  }
  
  .fotoJazmin {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
  }
  
  .fotoMeli {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
  }
  
  .fotoRoman {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
  }
  
  .testimonioEspaña {
    width: 50px;
    height: 50px;
  }
  
  .testimonioSuecia {
    width: 50px;
    height: 50px;
  }
  
  .testimonioNuevazelanda {
    width: 50px;
    height: 50px;
  }
  
  .testimonioAustralia {
    width: 50px;
    height: 50px;
  }
  
  .testimonioFrancia {
    width: 50px;
    height: 50px;
  }
  
  .testimonioDinamarca {
    width: 50px;
    height: 50px;
  }