/*estilo a Testimonios*/



.testimonioUno {
    background: linear-gradient(to left, bisque, cadetblue);
    display: inline-block;
    width: 600px;
    height: 600px;
    border: 5px inset black;
    margin-bottom: 15px;
    transition: all 2s;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: medium;
  }
  
  .testimonioDos {
    background: linear-gradient(to left, bisque, cadetblue);
    display: inline-block;
    width: 600px;
    height: 600px;
    border: 5px inset black;
    margin-bottom: 15px;
    transition: all 2s;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: medium;
  }
  
  .testimonioTres {
    background: linear-gradient(to left, bisque, cadetblue);
    display: inline-block;
    width: 600px;
    height: 600px;
    border: 5px inset black;
    margin-bottom: 15px;
    transition: all 2s;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: medium;
  }
  
  .testimonioCuatro {
    background: linear-gradient(to left, bisque, cadetblue);
    display: inline-block;
    width: 600px;
    height: 600px;
    border: 5px inset black;
    margin-bottom: 15px;
    transition: all 2s;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: medium;
  }
  
  .testimonioCinco {
    background: linear-gradient(to left, bisque, cadetblue);
    display: inline-block;
    width: 600px;
    height: 600px;
    border: 5px inset black;
    margin-bottom: 15px;
    transition: all 2s;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: medium;
  }
  
  .testimonioSeis {
    background: linear-gradient(to left, bisque, cadetblue);
    display: inline-block;
    width: 600px;
    height: 600px;
    border: 5px inset black;
    margin-bottom: 15px;
    transition: all 2s;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: medium;
  }
  
  
  .paginaTestimonios {
    background-color: bisque;
  }
  
  .fotoRebord {
    width: 200px;
    height: 200px;
  }
  
  .fotoLucas {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
  }
  
  .fotoGerman {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
  }
  
  .fotoJazmin {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
  }
  
  .fotoMeli {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
  }
  
  .fotoRoman {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
  }
  
  .testimonioEspaña {
    width: 50px;
    height: 50px;
  }
  
  .testimonioSuecia {
    width: 50px;
    height: 50px;
  }
  
  .testimonioNuevazelanda {
    width: 50px;
    height: 50px;
  }
  
  .testimonioAustralia {
    width: 50px;
    height: 50px;
  }
  
  .testimonioFrancia {
    width: 50px;
    height: 50px;
  }
  
  .testimonioDinamarca {
    width: 50px;
    height: 50px;
  }

  .testimonioUno:hover {
    background: linear-gradient(to left, cadetblue, bisque);
    width: 700px;
    height: 700px;
  }
  
  .testimonioDos:hover {
    background: linear-gradient(to left, cadetblue, bisque);
    width: 700px;
    height: 700px;
  }
  
  .testimonioTres:hover {
    background: linear-gradient(to left, cadetblue, bisque);
    width: 700px;
    height: 700px;
  }
  
  .testimonioCuatro:hover {
    background: linear-gradient(to left, cadetblue, bisque);
    width: 700px;
    height: 700px;
  }
  
  .testimonioCinco:hover {
    background: linear-gradient(to left, cadetblue, bisque);
    width: 700px;
    height: 700px;
  }
  
  .testimonioSeis:hover {
    background: linear-gradient(to left, cadetblue, bisque);
    width: 700px;
    height: 700px;
  }
  